/*body {*/
/*    height: 100%;*/
/*    box-shadow: none;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

.svg {
    height: 5em;
    width: 5em;
}

.body{
    box-shadow: none;
}



/*.form-signin {*/
/*    width: 100%;*/
/*    max-width: 330px;*/
/*    padding: 15px;*/
/*    margin: auto;*/
/*}*/


