<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Rules</title>

<!--    <link href="style.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <div th:replace="part_navigator :: navbar"/>

</head>
<body>

<div class="game-rules-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div role="main" class="inner cover">
        <h1 class="game-rules-heading" style="text-align: center">GAME RULES:</h1>
        <br>
        <p class="lead">In the game, you control a resource trader.
            Resources can only be obtained by stealing from the company that produces the given raw material.
            After obtaining a given resource, you can sell it to the appropriate NPC.
            There are 3 types of resources:</p>

        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">WOOD</a>
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">IRON</a>
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">COPPER</a>
        </div>

        <br>
    <div>
        <h1 class="possible-interactions" style="text-align: center">POSSIBLE INTERACTIONS:</h1>
        <br>
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">BATTLE WITH NPC</a>
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">CONVERSATION WITH NPC MERCHANT</a>
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">SALE OF RESOURCE</a>
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">CITY CHANGE</a>
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">REST FOR GENERATION</a>
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">PURCHASE OF WEAPON</a>
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">SELECTING OF WEAPON</a>
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">PLAYER STATUS VIEW</a>
        </div>
        <br>
    </div>
        <h1 class="cities-to-choose" style="text-align: center">CITIES TO CHOOSE:</h1>
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">GDANSK - sell wood and obtain copper</a>
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">WARSAW - sell iron and obtain wood</a>
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">ZAKOPANE - sell copper and obtain iron</a>

        </div>

        <br>

        <h1 class="types-of-weapon" style="text-align: center">3 TYPES OF WEAPON AVAILABLE:</h1>
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">TWO HANDED SWORD</a>
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">SWORD AND SHIELD</a>
            <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">FIRE ARM</a>
        </div>

    <br>

    <h1 class="types-of-weapon" style="text-align: center">FIGHTS TAKE PLACE ON THE BASIS OF THE GAME "STONE PAPER SCISSORS"</h1>
    <br>
    <div class="list-group">
        <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">FIRE ARM BEATS TWO HANDED SWORD</a>
        <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">TWO HANDED SWORD BEATS SWORD AND SHIELD</a>
        <a class="list-group-item list-group-item-action list-group-item-dark" style="text-align: center">SWORD AND SHIELD BEAT FIRE ARM</a>
    </div>
    <br>
    <p class="types-of-weapon" style="text-align: center">You don't know what weapon is fighting your opponent until you start fight with him</p>
    <br>


        <h1 class="won-game" style="text-align: center">PLAYER WINS THE GAME WHEN HE OBTAINS 100 COINS AND LOSES WHEN HEALTH POINTS ARE 0</h1>

    </div>

</div>


</body>
</html>
